<a href="https://colab.research.google.com/github/arddrasoni-commits/7_types_of_loops/blob/main/experiment_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Experiment 7
##Name: Arddra Soni
##PRN: 25070123022
##Branch: ENTC
##Batch: A1
### Study of different types of loops in python

In [ ]:
#While loop
# sed when number of iterations is not known
Syntax
while condition:
  statement(s)

In [ ]:
# Print x as long as x is less than 6

x = 1
while x <= 5:
  print(x)
  x += 1

1
2
3
4
5

In [ ]:
#Print numbers from 1 to N

N = int(input("Enter N: "))
i = 1
while i <= N:
  print (i)
  i += 1

Enter N: 24
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [ ]:
# Factotrial
x = int(input("Enter number for factorial: "))
i = 1
f = 1
while i<=x:
 f *= i
 i += 1
print(f)

Enter number for factorial: 69
171122452428141311372468338881272839092270544893520369393648040923257279754140647424000000000000000

In [ ]:
# Fibonacci Series using while loop
'''a = 0
b = 1
c = a + b
a = b
b = c'''
a = 0
b = 1
n = int(input("Enter number of desired iterations: "))

while n > 0:
  print(a, end=" ")
  c = a + b
  a = b
  b = c
  n -= 1

Enter number of desired iterations: 7
0 1 1 2 3 5 8

In [ ]:
# reverse a number
x = (int(input("Enter number: ")))
rev = 0

while x > 0:
  digit = x % 10
  rev = rev * 10 + digit
  x //= 10

print("Reversed number: ", rev)

Enter number: 6895
Reversed number:  5986

In [ ]:
# Check palindrome number
temp = (int(input("Enter number")))
temp = x
rev = 0

while x > 0:
  digit = x % 10
  rev = rev * 10 + digit
  x //= 10


if rev == temp:
  print("This number is a palindrome.")
else:
  print("This number is not a palindrome.")

Enter number34543
This number is a palindrome.

In [ ]:
# Check palindrome with string
s = "ARDDRA"
i, j = 0, len(s)-1

while i<j:
  if x[i] != x[j]:
    is_pal

In [ ]:
x = "ARDDRA"
print(len(x))

6

In [ ]:
#check palindrome number
st = input("Enter the string: ")
rev = st[:: -1]
if st == rev:
  print("Palindrome")
else:
  print("Not Palindrome")

ENter the string23432
Palindrome

In [ ]:
# Count digits in a number
x = (int(input("Enter number: ")))

c = 0
while

## The break Statement
### With the break statement we can stop the loop even if the while condition is true

In [ ]:
#Exit the loop when i is 3
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
#Search an element in a list

lisst = [22,23,24,25,26,27,54,61,62,60]

f= int(input("Enter number to search: "))

i = 0
while i < len(lisst):
  if lisst[i] == f:
    print("ELement found at index: ", i)
    break
  i +=1
else:
  print("Element not found.")

Enter number to search: 54
ELement found at index:  6

## For Loop

In [ ]:
#Python program to accept three digits and print all possible combinations
p1 = 1
p2 = 2
p3 = 3
p = [p1,p2,p3]
# 123,132,213,231,312,321
for i in range(0,3):
  for j in range(0,3):
    for k in range(0,3):
      if (p[i]!=p[j] and p[j]!=p[k] and p[k]!=p[i]):
        print(p[i],p[j],p[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [ ]:
# Armstrong Number (153 370 371 407 123)
# sum of each digit raised to number of digits is equal to the number (1^3 + 5^3 + 3^3 = 1+ 125+ 9)
x = int(input("Enter a number: "))
total = 0

for digit in str(x):    ## int datatype is not iterable while str is iterable
  total += int(digit)**len(str(x))

if total == x:
  print("Provided number is an Armstrong Number!")
else:
  print("Try Again! Not an Armstrong Number!!")

Enter a number: 407
Provided number is an Armstrong Number!

In [ ]:
# To print all prime numbers in Range
for x in range(2,100):
  for i in range(2,x):
    if x%i == 0:
      break
  else:
    print(x)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
x = 5
for i in range(x):
  print(i*" ", (x-i)*" $")

  $ $ $ $ $
   $ $ $ $
    $ $ $
     $ $
      $

In [ ]:
x = 5

for i in range(x):
  print((x-i)*" ", (i+1)*" $")

       $
      $ $
     $ $ $
    $ $ $ $
   $ $ $ $ $

In [ ]:
x = 5

for i in range(x):
  print((i+1)*" $")

 $
 $ $
 $ $ $
 $ $ $ $
 $ $ $ $ $

In [ ]:
x = 5

for i in range(x):
  print((x-i)*" ", i*" $")

      $
     $ $
    $ $ $
   $ $ $ $

In [ ]:
x = 5

for i in range(x):
  print((x-i)*" ",(i+1)*"$")

      $
     $$
    $$$
   $$$$
  $$$$$